<a md-list-item [routerLink]="['/who']"
   [routerLinkActiveOptions]="{exact:true}"
   routerLinkActive="active">
  <md-icon md-list-avatar>face</md-icon>
  <h3 md-line> {{ 'WHO.title' | translate }} </h3>
  <p md-line> {{ 'WHO.sub' | translate }} </p>
</a>
<a md-list-item [routerLink]="['/works']"
   routerLinkActive="active">
  <md-icon md-list-avatar>developer_board</md-icon>
  <h3 md-line> {{ 'WORKS.title' | translate }} </h3>
  <p md-line> {{ 'WORKS.sub' | translate }} </p>
</a>
<a md-list-item [routerLink]="['/contact']"
   [routerLinkActiveOptions]="{exact:true}"
   routerLinkActive="active">
  <md-icon md-list-avatar>message</md-icon>
  <h3 md-line> {{ 'CONTACT.title' | translate }} </h3>
  <p md-line> {{ 'CONTACT.sub' | translate }} </p>
</a>
