<md-card-header>
  <img md-card-avatar class="size-72" src="assets/images/carlos.jpg">
  <md-card-title>
    <h3>Carlos Matheu Armengol</h3>
  </md-card-title>
  <md-card-subtitle>{{ 'WHO.position' | translate }}</md-card-subtitle>
</md-card-header>
<md-divider></md-divider>
<md-card-content>
  <p [innerHTML]="'WHO.description' | translate"></p>
  <div *ngIf="skills$ | async as skills; else loadingSkills">
    <app-skill *ngFor="let skill of skills"
    [class]="skill.class" [skill]="skill"></app-skill>
  </div>

  <ng-template #loadingSkills>
    <md-card-content>
      <app-activity-indicator
        [color]="activityColor">
      </app-activity-indicator>
    </md-card-content>
  </ng-template>

</md-card-content>

<md-divider></md-divider>
<div layout="row" layout-align="space-around center" class="pad">
  <a md-button class="tc-grey-600" target="_blank" rel="noopener"
     href="/assets/cv/{{ 'WHO.cv' | translate }}"
     angulartics2On="click"
     angularticsEvent="DownloadCV"
     angularticsCategory="{{ 'WHO.cv' | translate  }}">
    <md-icon class="pull-bottom">file_download</md-icon>
    <div class="md-caption">CV</div>
  </a>
</div>
