<a md-icon-button mdTooltip="{{plastikawebIcon.label}}"
   [routerLink]="['/']">
  <md-icon [svgIcon]="plastikawebIcon.label"></md-icon>
</a>
<span>Plastikaweb</span>
<span flex></span>
<a md-icon-button mdTooltip="{{githubIcon.label}}"
   angulartics2On="click"
   angularticsEvent="githubClick"
   angularticsCategory="externalLinks"
   [href]="githubIcon.link" target="_blank" rel="noopener">
  <md-icon svgIcon="{{githubIcon.label}}"></md-icon>
</a>
<app-language-menu [languages]="languages"
                   [currentLang]="currentLang"
                   [changeLangMessage]="changeLangMessage$ | async"
                   (emitCurrentLang)="onChangeLang($event)">
</app-language-menu>
