// fill with your data

export const data: any = {
  contact: {
    'email': 'my-mail@my-name.com',
    'social': {
      'facebook': {
        'icon': 'facebook.svg',
        'name': 'facebook',
        'url': 'https://www.facebook.com/my-name',
        'section': 'contact'
      },
      'linkedin': {
        'icon': 'linkedin.svg',
        'name': 'linkedin',
        'url': 'https://www.linkedin.com/in/my-name',
        'section': 'contact'
      },
      'twitter': {
        'icon': 'twitter.svg',
        'name': 'twitter',
        'url': 'https://twitter.com/ny-name',
        'section': 'contact'
      },
      'github': {
        'icon': 'github.svg',
        'name': 'github',
        'url': 'https://github.com/my-name',
        'section': 'header'
      },
      'plastikaweb': {
        'icon': 'w.svg',
        'name': 'plastikaweb',
        'url': 'https://www.my-name.com',
        'section': 'header'
      }
    },
    'tlfn': '(+34) 000 000 000',
    intro: {
      en: 'intro',
      es: 'intro'
     },
     interests: [
        {
          en: 'text',
          es: 'text'
        },
        {
           en: 'text',
           es: 'text'
         }
     ]
  },
  tags: [
    {
      'name': 'angular'
    },
    {
      'name': 'firebase'
    },
    {
      'name': 'opensource'
    },
    {
      'name': 'css3'
    }
  ],
  works: [
    {
      'active': 1,
      'progress': 0,
      'name': 'work 1',
      'subtitle': {
        es: 'Mi página personal',
        en: 'My personal site'
      },
      'order': 10,
      'url': 'www.work-1.com',
      'repo': 'https://github.com/my-repo/work-1',
      'year': 2017,
      'client': '',
      'partner': '',
      'opensource': false,
      'description': {
        es: 'Mi página personal',
        en: 'My personal site'
      },
      'tools': `Angular (4.0.1), Firebase, typescript, jasmine, github`,
      'tags': 'angular,firebase',
      'slug': 'work-1'
    },
    {
      'active': true,
      'client': 'my client',
      'subtitle': {
              es: 'Mi página personal',
              en: 'My personal site'
            },
      'description': {
              es: 'Mi página personal',
              en: 'My personal site'
            },
      'name': 'work 2',
      'opensource': true,
      'order': 5,
      'partner': 'my partner',
      'repo': '',
      'slug': 'work-2',
      'tags': 'bootstrap,opensource',
      'tools': 'Twitter Bootstrap, JavaScript, PHP',
      'url': 'https://www.work-2.com/',
      'year': 2017
    }
  ]
};
