<td-expansion-panel [class]="skill.class"
                    angulartics2On="click"
                    angularticsEvent="{{skill.slug}}Click"
                    angularticsCategory="skillClicks">
  <ng-template td-expansion-panel-header>
    <div layout="row" flex="100"
         layout-align="start center">
      <img alt="{{skill.name}}" md-icon flex="10" flex-gt-xs="5"
           class="size-24"
           src="/assets/icons/{{skill.icon}}">
      <h4 flex="90" flex-gt-md="40">{{skill.name}}</h4>
    </div>
  </ng-template>

  <td-expansion-summary layout="row" flex="100">
    <md-progress-bar [value]="skill.proficiency"
                     mode="determinate">
    </md-progress-bar>
  </td-expansion-summary>
  <div layout-wrap layout="row">
    <md-card flex="100" flex-gt-sm="100" flex-gt-md="33">
      <div class="chart-height push-top push-right-sm push-left-sm">
        <h5 class="not-visible">{{ 'WHO.proficiency' | translate }}</h5>
        <ngx-charts-linear-gauge
          [view]="view"
          [scheme]="{domain: [skill.class]}"
          [value]="skill.proficiency"
          [valueFormatting]="formatProficiency"
          [min]="0"
          [max]="100"
          [units]="proficiency">
        </ngx-charts-linear-gauge>
        <md-divider></md-divider>
        <h5 class="not-visible">{{ 'WHO.years' | translate }}</h5>
        <ngx-charts-linear-gauge
          [view]="view"
          [scheme]="{domain: [skill.class]}"
          [value]="skill.years"
          [min]="0"
          [max]="10"
          [units]="years">
        </ngx-charts-linear-gauge>
      </div>
    </md-card>
    <md-card flex="100" flex-gt-sm="50" flex-gt-md="33">
      <md-card-content>
        <h5>{{ getRemoteTranslation(skill.legend) }}</h5>
        <div [innerHTML]="getRemoteTranslation(skill.description)"></div>
      </md-card-content>
    </md-card>
    <md-card flex="100" flex-gt-sm="50" flex-gt-md="33">
      <md-card-content>
        <h5>{{ 'WORKS.title' | translate }}</h5>
        <md-nav-list *ngIf="$worksRelated | async as works;">
          <a *ngFor="let work of works"
             md-list-item [routerLink]="['/works' | localize, work.slug]">
            <img md-list-avatar class="tag size-24"
                 alt="work.name"
                 [src]="imagesService.getImage('works', work.slug, '-avatar.png')">
            <h3 md-line> {{ work.name }} </h3>
          </a>
        </md-nav-list>

      </md-card-content>
    </md-card>
  </div>
</td-expansion-panel>
