<button role="button" attr.aria-label="{{ changeLangMessage }}"
        mdTooltip="{{ changeLangMessage }}"
        md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>language</md-icon>
</button>

<md-menu #menu="mdMenu">
  <button md-menu-item role="menuitem"
          *ngFor="let lang of languages"
          id="lang-{{ lang }}" md-list-item
          class="lang-btn"
          [ngClass]="{'active': lang === currentLang}"
          (click)="changeLang(lang)">
    <span class="text-wrap">{{ lang }}</span>
  </button>
</md-menu>
