<md-card-header>
  <img md-card-avatar class="size-72" src="assets/images/works.jpg">
  <md-card-title>
    <h3 [innerHTML]="'WORKS.sub' | translate"></h3>
  </md-card-title>
  <md-card-subtitle>{{ 'WORKS.intro' | translate }}</md-card-subtitle>
</md-card-header>
<md-divider></md-divider>

<div *ngIf="works$ | async as works; else loadingProjects">
  <md-card-content>
    <div layout="row"
         layout-wrap
         layout-align="space-between center">
      <md-card flex="100" flex-gt-sm="45"
               flex-gt-lg="30" flex-xl="23"
               *ngFor="let work of works">
        <md-card-header>
          <img md-card-avatar class="size-50"
               alt="work.name"
               [src]="getAvatar(work.slug)">
          <md-card-title><a [routerLink]="['/works' | localize, work.slug]"> {{ work.name }} </a></md-card-title>
          <md-card-subtitle>{{ getRemoteTranslation(work.subtitle) }}</md-card-subtitle>
        </md-card-header>
        <img md-card-image alt="{{work.name}}"
             [lazyLoad]="getMainImage(work.slug)"
             [scrollTarget]="myScrollContainer"
             [offset]="offset"
             [defaultImage]="loadingImage">
        <md-card-content>
        </md-card-content>
        <md-card-footer>
          <img md-card-avatar class="tag size-24"
               *ngFor="let tag of work.tags.split(',') | arrayExtract:5"
               [src]="getMainTechImage(tag)"
               alt="{{tag}}" title="{{tag}}">
        </md-card-footer>
      </md-card>
    </div>
  </md-card-content>
</div>

<ng-template #loadingProjects>
  <md-card-content>
    <app-activity-indicator
      [color]="activityColor">
    </app-activity-indicator>
  </md-card-content>
</ng-template>
