<td-chips [chipAddition]="chipAddition"
          [chipRemoval]="chipRemoval"
          [color]="chipColor"
          [items]="filteredStrings"
          [(ngModel)]="stringsModel"
          [placeholder]="'WORKS.filterBy' | translate"
          (inputChange)="filterStrings($event)"
          (click)="onClick($event)"
          requireMatch>
  <ng-template td-chip let-chip="chip">
    <div class="tc-grey-100 bgc-dark-blue-grey-500" td-chip-avatar>
      {{chip.substring(0, 1).toUpperCase()}}</div>{{chip}}
  </ng-template>
</td-chips>
