<td-chips [chipAddition]="chipAddition"
          [chipRemoval]="chipRemoval"
          [color]="chipColor"
          [items]="filteredStrings"
          [(ngModel)]="stringsModel"
          [placeholder]="'WORKS.filterBy' | translate"
          (inputChange)="filterStrings($event)"
          requireMatch>
  <ng-template td-chip let-chip="chip">
    <div td-chip-avatar>
      <img class="tag size-20"
           [src]="imagesService.getMainTechImage(chip)"
           alt="{{chip}}"></div>{{chip}}
  </ng-template>
</td-chips>
