<td-layout-manage-list #menuList
                       class="light-blue-red"
                       [opened]="media.registerQuery('gt-sm') | async"
                       [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
                       [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">

  <!--Sidebar menu-->
  <md-nav-list td-sidenav-content
               (click)="!media.query('gt-sm') && menuList.close()">
    <app-sidenav></app-sidenav>
  </md-nav-list>

  <!--Breadcrumb-->
  <div td-toolbar-content flex
       layout="row"
       layout-align="start center">
    <breadcrumb [useBootstrap]="false"></breadcrumb>
  </div>

  <!--Main section content-->
  <app-main-content-card></app-main-content-card>

</td-layout-manage-list>
