<a md-list-item [routerLink]="'/who' | localize"
   [routerLinkActiveOptions]="{exact:true}"
   [routerLinkActive]="['router-link-active']">
  <md-icon md-list-avatar>face</md-icon>
  <h2 md-line> {{ 'WHO.title' | translate }} </h2>
  <p md-line> {{ 'WHO.sub' | translate }} </p>
</a>
<a md-list-item [routerLink]="'/works' | localize"
   [routerLinkActive]="['router-link-active']">
  <md-icon md-list-avatar>developer_board</md-icon>
  <h2 md-line> {{ 'WORKS.title' | translate }} </h2>
  <p md-line> {{ 'WORKS.sub' | translate }} </p>
</a>
<a md-list-item [routerLink]="'/contact' | localize"
   [routerLinkActiveOptions]="{exact:true}"
   [routerLinkActive]="['router-link-active']">
  <md-icon md-list-avatar>message</md-icon>
  <h2 md-line> {{ 'CONTACT.title' | translate }} </h2>
  <p md-line> {{ 'CONTACT.sub' | translate }} </p>
</a>
<md-divider></md-divider>
<a md-list-item [routerLink]="'/cookies' | localize"
   [routerLinkActive]="['router-link-active']">
  <md-icon md-list-avatar class="md-12">info</md-icon>
  <p class="md-caption"> {{ 'COOKIES.title' | translate }} </p>
</a>
