// skills colors equivalences
// used on app/who component
$red: mat-color($mat-red, 600), mat-color($mat-red, 100);
$yellow: mat-color($mat-yellow, A700), mat-color($mat-yellow, 200);
$blue: mat-color($mat-blue, 600), mat-color($mat-blue, 100);
$grey: mat-color($mat-grey, 900), mat-color($mat-grey, 400);
$pink: mat-color($mat-pink, 300), mat-color($mat-pink, 100);
$orange: mat-color($mat-deep-orange, 500), mat-color($mat-deep-orange, 100);
$purple: mat-color($mat-deep-purple, 700), mat-color($mat-deep-purple, 100);
