@import 'theme';

// general styling
a {
  color: mat-color($primary, 800);
}

// Any Menu item selected
.mat-list-item.active .mat-list-item-content {
  background-color: mat-color($accent, 200);
  md-icon[md-list-avatar], .mat-list-text > h3 {
    color: mat-color($primary, 800);
  }
}

// header
app-header > md-icon {
  margin-right: 5px;
}

// avatar icon for Plastikaweb section
.mat-card [md-card-avatar].size-72 {
  height: 72px;
  width: 72px;
}

// tags for projects avatar sizing
.tag.mat-card-avatar {
  &.size-16 {
    height: 16px;
    width: 16px;
  }
  &.size-24 {
    height: 24px;
    width: 24px;
  }
  &.size-32 {
    height: 32px;
    width: 32px;
  }
  &.size-50 {
    height: 50px;
    width: 50px;
  }
}

// Breadcrumb styling
breadcrumb {
  ul {
    padding: 0;
    margin: 0;
    li {
      display: initial;
      &:not(:last-child)::after {
        content: "\2044"
      }
      > a {
        cursor: pointer;
      }
    }
  }
}

// lazy load images
[md-card-image]{
  &.ng-lazyloaded {
    animation: fadein 0.3s;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
