@import "mixins";
@import 'theme';

// general anchor styling
a {
  color: mat-color($primary, 500);
}

// Any Menu item selected
.mat-list-item.active .mat-list-item-content,
.mat-list-item.router-link-active .mat-list-item-content {
  background-color: mat-color($accent, 200);
  md-icon[md-list-avatar], .mat-list-text > h3 {
    color: mat-color($primary, 900);
  }
}

// avatar icon
.mat-card [md-card-avatar].size-72 {
  height: 72px;
  width: 72px;
}

// lazy load images
[md-card-image] {
  &.ng-lazyloaded {
    animation: fadein 0.3s;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// HEADER component //
app-header > md-icon {
  margin-right: 5px;
}

// MAIN-CONTENT //
breadcrumb {
  ul {
    padding: 0;
    margin: 0;
    li {
      display: initial;
      &:not(:last-child)::after {
        content: "\2044"
      }
      > a {
        cursor: pointer;
      }
    }
  }
}

// SHARED
.activity-indicator {
  text-align: center;
  md-progress-spinner {
    margin: 1em auto;
  }
}

// WORKS //
app-works {
  .work-info {
    display: block;
    text-decoration: none;
    .mat-card [md-card-avatar] {
      margin: 16px 0 0 5px;
    }
    .work-img-container {
      overflow: hidden;
      > img[md-card-image] {
        @include filter(grayscale, 90%);
        @include transition(0.4s ease-in);
      }
    }
    &:hover {
      img[md-card-image] {
        @include filter(grayscale, 0);
        @include workImageTransform($rotate: 1.15, $scale: 1.2);
        @include transition(0.2s ease-out);
      }
    }
  }
}

.mat-card app-work {
  .mat-card-image {
    border-top: 1px solid mat-color($primary, 100);
    border-bottom: 1px solid mat-color($primary, 100);
  }
  @media (min-width: 1200px) {
    .mat-card-image {
      max-width: 1200px;
      margin: 0 auto;
      display: block;
    }
  }
  @media (min-width: 1500px) {
    .mat-card-image {
      border: 1px solid mat-color($primary, 100);
    }
  }

}

app-tags, app-filter-works {
  [md-icon-button] {
    margin: 2px 0 4px 4px;
    &.selected {
      background-color: mat-color($primary, 100);
    }
  }
  .tag {
    &.size-16 {
      height: 16px;
      width: 16px;
    }
    &.size-20 {
      height: 20px;
      width: 20px;
    }
    &.size-24 {
      height: 24px;
      width: 24px;
    }
    &.size-32 {
      height: 32px;
      width: 32px;
    }
    &.size-50 {
      height: 50px;
      width: 50px;
    }
  }
  // filter
  md-basic-chip {
    [td-chip-avatar] {
      background-color: mat-color($primary, 200);
      > .size-20 {
        border-radius: 50%;
        @include filter(sepia, 80%);
      }
    }
    &:focus {
      [td-chip-avatar] {
        background-color: mat-color($warn, 200);
        > .size-20 {
          @include filter(sepia, 0);
        }
      }
    }
  }

}

// CONTACT //
// get rid of nowrap white-space on contact component lists
app-contact .mat-list[dense] .mat-list-item .mat-line {
  white-space: inherit;
}

// WHO //
// fix to return easing to skill expansion panel items in who section
@mixin skillsEase($position, $direction) {
  app-skill {
    &:not(:#{$position}) .td-expansion-panel.td-expanded {
      margin-#{$direction}: 16px;
    }
  }
}

@include skillsEase(first-of-type, top);
@include skillsEase(last-of-type, bottom);

app-not-found {
  .mat-card-header-text {
    width: 100%;
  }
  .text-super-super {
    font-size: 150px;
  }
}

