@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';
// @import '~@covalent/markdown/markdown-theme';
// @import '~@covalent/charts/charts-theme';
// @import '~@covalent/highlight/highlight-theme';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

$primary: mat-palette($mat-deep-orange, 800, 400, 100);
$accent: mat-palette($mat-grey, 400, 200, 100);
$warn: mat-palette($mat-teal, 600);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
@include covalent-theme($theme);
// @include covalent-markdown-theme($theme);
// @include covalent-charts-theme($theme);
// @include covalent-highlight-theme();
