<md-card-header>
  <img md-card-avatar class="size-72" src="assets/images/email.jpg">
  <md-card-title>
    <h3 [innerHTML]="'CONTACT.sub' | translate"></h3>
  </md-card-title>
  <md-card-subtitle [innerHTML]="'CONTACT.intro' | translate"></md-card-subtitle>
</md-card-header>
<md-divider></md-divider>

<div *ngIf="contactData$ | async as contactData;">
  <md-card-content>
    <div layout-wrap
         layout="row">
      <div flex="100" flex-gt-md="55" flex-gt-lg="70">
        <h3>{{ 'CONTACT.interested' | translate }}</h3>
        <md-list dense *ngIf="contactData.interests as interests">

          <md-list-item *ngFor="let interest of interests">
            <md-icon md-list-avatar>done</md-icon>
            <p md-line [innerHTML]="getRemoteTranslation(interest)"></p>
          </md-list-item>
        </md-list>
      </div>
      <div flex="100" flex-gt-md="45" flex-gt-lg="30">
        <h3>{{ 'CONTACT.title' | translate }}</h3>
        <md-list dense>
          <md-list-item>
            <md-icon md-list-icon>contact_mail</md-icon>
            <p md-line>
              <a href="mailto:{{contactData.email}}"
                 angulartics2On="click"
                 angularticsEvent="emailClick"
                 angularticsCategory="externalLinks"
              >{{contactData.email}}</a>
            </p>
          </md-list-item>
          <md-list-item>
            <md-icon md-list-icon="">contact_phone</md-icon>
            <p md-line>{{contactData.tlfn}}</p>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </md-card-content>

  <md-divider></md-divider>

  <div layout="row" layout-align="space-around center" class="pad">
    <a *ngFor="let social of contactData.social"
       md-button class="tc-grey-600" target="_blank"
       href="{{social.url}}"
       angulartics2On="click"
       angularticsEvent="{{social.name}}Click"
       angularticsCategory="externalLinks">
      <img class="size-24 pull-bottom" src="/assets/icons/{{social.icon}}">
      <div class="md-caption">{{social.name}}</div>
    </a>
  </div>
</div>
