<md-card-header>
  <img md-card-avatar class="size-72" src="assets/images/carlos.jpg">
  <md-card-title>
    <h3>Carlos Matheu Armengol</h3>
  </md-card-title>
  <md-card-subtitle>{{ 'WHO.position' | translate }}</md-card-subtitle>
</md-card-header>

<md-card-content>
  <p [innerHTML]="'WHO.description' | translate"></p>
  <td-expansion-panel *ngFor="let item of data"
                      [class]="item.class"
                      (expanded)="expandedEvent()"
                      (collapsed)="collapsedEvent()">
    <ng-template td-expansion-panel-header>

      <div layout="row" flex="100"
           layout-align="start center">
        <md-icon flex="10" flex-gt-xs="5"
                 svgIcon="{{item.skill}}"></md-icon>
        <h3 flex="90" flex-gt-md="40">{{item.skill}}</h3>
      </div>
    </ng-template>

    <td-expansion-summary layout="row" flex="100">
      <md-progress-bar [value]="item.proficiency"
                       mode="determinate">
      </md-progress-bar>
    </td-expansion-summary>
    <div layout-gt-sm="row">
      <md-card flex-gt-sm="30" layout-align="center center">
        <div class="chart-height push-top push-right-sm">
          <ngx-charts-linear-gauge
            [view]="view"
            [scheme]="colorScheme"
            [value]="item.proficiency"
            [valueFormatting]="formatProficiency"
            [min]="0"
            [max]="100"
            [units]="proficiency">
          </ngx-charts-linear-gauge>
          <md-divider></md-divider>
          <ngx-charts-linear-gauge
            [view]="view"
            [scheme]="colorScheme"
            [value]="item.years"
            [min]="0"
            [max]="10"
            [units]="years">
          </ngx-charts-linear-gauge>
        </div>
      </md-card>
      <md-card flex-gt-sm="40">
        <md-card-content [innerHTML]="'WHO.skills.' + item.skill | translate"></md-card-content>
      </md-card>
      <md-card flex-gt-sm="30">
        <md-card-title>Projects</md-card-title>
        <md-list>
          <md-list-item>soon...</md-list-item>
        </md-list>
      </md-card>
    </div>
  </td-expansion-panel>
</md-card-content>

<md-divider></md-divider>
<div layout="row" layout-align="space-around center" class="pad">
  <button md-button class="tc-grey-600">
    <md-icon class="pull-bottom">reply</md-icon>
    <div class="md-caption">Reply</div>
  </button>
  <button md-button class="tc-grey-600">
    <md-icon class="pull-bottom">reply_all</md-icon>
    <div class="md-caption">Reply All</div>
  </button>
  <button md-button class="tc-grey-600">
    <md-icon class="pull-bottom">forward</md-icon>
    <div class="md-caption">Forward</div>
  </button>
</div>
