@import '~@angular/material/theming';
@import '../../colors';

// style progress bar used for skills fill color and buffer colors
@mixin skills($fill, $buffer) {
  .mat-progress-bar-fill::after {
    background-color: $fill;
  }
  .mat-progress-bar-buffer {
    background-color: $buffer;
  }
}
// angular
/deep/ .red {
  @include skills($red...);
}
// javascript
/deep/ .yellow {
  @include skills($yellow...);
}
// typescript
/deep/ .blue {
  @include skills($blue...);
}
// css3
/deep/ .grey {
  @include skills($grey...);
}
// sass
/deep/ .pink {
  @include skills($pink...);
}
// rwd
/deep/ .purple {
  @include skills($purple...);
}
// html5
/deep/ .orange {
  @include skills($orange...);
}

// styling box for charts
ngx-charts-linear-gauge {
  display: inline-block;
}
.chart-height {
  text-align: center;
  height: 205px;
}
